<div id="About" class="quote-box">
    <p class="quote">
        <b>
            "Open from 10am to 9pm."<br />
            Open: Monday - Sunday
        </b>
    </p>
</div>

<div class="quote-box">
    <p class="quote">
        "Use products from nature for what it's worth - but never too early, nor too late." Fresh is the new sweet.
    </p>
    <p class="author">Chef, Coffeeist and Owner: Rohit Prajapati</p>
</div>

<img class="chef-img" src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*VXIymcsaDjYpbVqf-_f9rg.jpeg" alt="Profile Image">

<div class="textcontainer">
    <h1>I am Who I Am!</h1>
    <h2><i>With Passion For Real, Good Food</i></h2>
    <p style="margin: 0px 20px;">
        Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest in lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
    </p>
</div>
