@model MyProject.Models.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!-- Render the Coupon partial view -->
    @await Html.PartialAsync("Coupons", Model.Coupons)
</div>

<div>
    <!-- Render the Menu partial view -->
    @await Html.PartialAsync("Menu", Model.Products)
</div>

<div class="booking-section">
    @{
        await Html.RenderPartialAsync("~/Views/Booking/Create.cshtml", new MyProject.Models.BookingDto());
    }
</div>